{% if has_rmq_queues %}
 <h3>Queues</h3>
<table data-layout="default" ac:local-id="0d3073cb-69a9-4226-b32d-e3a6f7200ef4">
    <colgroup>
        <col style="width: 226.67px;"/>
        <col style="width: 226.67px;"/>
        <col style="width: 226.67px;"/>
    </colgroup>
    <tbody>
    <tr>
        <th><p><strong>Queue</strong></p></th>
        <th><p><strong>Binding (Exchange / Routing Key)</strong></p></th>
        <th><p><strong>Description</strong></p></th>
        <th><p><strong>Protocol</strong></p></th>
        <th><p><strong>Producers</strong></p></th>
        <th><p><strong>Consumers</strong></p></th>
    </tr>
    {% for row in rmq_queues_rows %}
        <tr>
          <td><p>{{row['Queue']}}</p></td>
          <td><p>{{row['Binding(Exchange / Routing Key)']}}</p></td>
          <td><p>{{row['Description']}}</p></td>
          <td><p>{{row['Protocol']}}</p></td>
          <td><p>{{row['Producers']}}</p></td>
          <td><p>{{row['Consumers']}}</p></td>
        </tr>
    {% endfor %}
    </tbody>

</table>
{% endif %}

<h3>Inbound/Outbound Connections</h3>
<table data-layout="default" ac:local-id="0d3073cb-69a9-4226-b32d-e3a6f7200ef4">
    <colgroup>
        <col style="width: 226.67px;"/>
        <col style="width: 226.67px;"/>
        <col style="width: 226.67px;"/>
    </colgroup>
    <tbody>
    <tr>
        <th><p><strong>ServiceName</strong></p></th>
        <th><p><strong>ConnectDirection</strong></p></th>
        <th><p><strong>Protocol</strong></p></th>
        <th><p><strong>Description</strong></p></th>
    </tr>
    {% for row in table_rows %}
        <tr>
          <td><p>{{row['ServiceName']}}</p></td>
          <td><p>{{row['ConnectDirection']}}</p></td>
          <td><p>{{row['Protocol']}}</p></td>
          <td><p>{{row['Description']}}</p></td>
        </tr>
    {% endfor %}
    </tbody>
</table>