/*===================================================================================================================*/

.service-container  {
    rounded: 1;
    white-space: wrap;
    html: 1;
    shadow: 1;
    vertical-align: top;
    font-size: 16;
    font-style: 1;
    arc-size: 3;
    stroke-color: #9673A6;
    stroke-width: 2;
    font-family: Times New Roman;
}

.service-topics-container {
    rounded: 1;
    white-space: wrap;
    html: 1;
    shadow: 0;
    vertical-align: top;
    font-size: 16;
    font-style: 1;
    arc-size: 1;
    stroke-color: #725965;
    font-family: Times New Roman;
}

.service-topics-container-label {
    text: __;
    html: 1;
    stroke-color: none;
    fill-color: none;
    alibn: center;
    vertical-align: middle;
    white-space: wrap;
    rounded: 0;
    font-size: 7;
    font-style: 1;
    label-background-color: #ffffff;
    font-family: Times New Roman;
}

.service-connector-core {
    rounded: 0;
    white-space: wrap;
    html: 1;
    shadow: 0;
    glass: 0;
    sketch: 0;
    stroke-width: 1;
    font-size: 14;
    font-family: Times New Roman;
    align: right;
    stroke-color: #946e56;
}

.service-container-core-label {
    text;
    html: 1;
    stroke-color: none;
    fill-color: none;
    alibn: center;
    vertical-align: middle;
    white-space: wrap;
    rounded: 0;
    font-size: 16;
    font-style: 1;
/*    label-background-color: #dae8fc;*/
    font-family: Times New Roman;
}

.service-status-label {
    rounded: 1;
    white-space: wrap;
    html: 1;
    fill-color: #ffe6cc;
    stroke-color: #d79b00;
    alibn: center;
    vertical-align: middle;
    font-size: 12;
    font-style: 1;
    font-family: Times New Roman;
}

.service-status-label-deprecated {
    rounded: 1;
    white-space: wrap;
    html: 1;
    fill-color: #f1f1f1;
    stroke-color: #8d8d89;
    alibn: center;
    vertical-align: middle;
    font-size: 12;
    font-style: 1;
    font-family: Times New Roman;
}

.service-connector-ellipse {
    ellipse: __;
    white-space: wrap;
    html: 1;
    aspect: fixed;
    rounded: 1;
    shadow: 0;
    glass: 0;
    sketch: 0;
    stroke-color: #AA7F69;
    stroke-width: 1;
    font-size: 14;
    font-family: Times New Roman;
    align: right;
}

.service-connector-label {
    edge-label: __;
    html: 1;
    align: center;
    vertical-align: middle;
    resizable: 0;
    label-border-color: none;
    font-color: #82614e;
    font-family: Times New Roman;
    font-size: 10;
}

.service-connector-arrow {
    end-arrow: none;
    html: 1;
    font-size: 14;
    entry-x: 0;
    entry-y: 0.5;
    entry-dy: 0;
    exit-x: 1;
    exit-y: 0.5;
    exit-dx: 0;
    exit-dy: 0;
    stroke-color: #AA7F69;
}

.service-topics-arrow {
    and-arrow: classic;
    edge-style: orthogonalEdgeStyle;
    html: 1;
    font-family: Times New Roman;
    font-size: 12;
    entry-x: 0;
    entry-y: 0.5;
    entry-dx: 0;
    entry-dy: 0;
    exit-x: 1;
    exit-y: 0.5;
    exit-dx: 0;
    exit-dy: 0;
    font-color: #B3B3B3;
    jump-style: none;
    stroke-width: 2;
    stroke-color: #82614e;
}

.service-connect-to-arrow {
    and-arrow: classic;
    edge-style: orthogonalEdgeStyle;
    html: 1;
    font-family: Times New Roman;
    font-size: 12;
    entry-x: 0;
    entry-y: 0.5;
    entry-dx: 0;
    entry-dy: 0;
    exit-x: 1;
    exit-y: 0.5;
    exit-dx: 0;
    exit-dy: 0;
    font-color: #B3B3B3;
    jump-style: none;
    stroke-width: 2;
    stroke-color: #82614e;
}
/*

/*===================================================================================================================*/

.service-container-selected  {
    rounded: 1;
    white-space: wrap;
    html: 1;
    shadow: 1;
    vertical-align: top;
    font-size: 16;
    font-style: 1;
    arc-size: 3;
    stroke-color: #ee0479;
    stroke-width: 2;
    font-family: Times New Roman;
    fill-color: #dae8fc;
}

.service-topics-container-selected {
    rounded: 1;
    white-space: wrap;
    html: 1;
    shadow: 0;
    vertical-align: top;
    font-size: 16;
    font-style: 1;
    arc-size: 1;
    stroke-color: #725965;
    font-family: Times New Roman;
    fill-color: #dae8fc;
}

.service-topics-container-label-selected {
    text;
    html: 1;
    stroke-color: none;
    fill-color: none;
    alibn: center;
    vertical-align: middle;
    white-space: wrap;
    rounded: 0;
    font-size: 7;
    font-style: 1;
    label-background-color: #dae8fc;
    font-family: Times New Roman;
}

.service-topic-rx-selected {
    rounded: 0;
    white-space: wrap;
    html: 1;
    stroke-color: #b5c4c6;
    vertical-align: middle;
    align: right;
    font-family: Times New Roman;
    font-size: 12;
    fill-color: #dae8fc;
}

.service-topic-tx-selected {
    rounded: 0;
    white-space: wrap;
    html: 1;
    stroke-color: #b5c4c6;
    vertical-align: middle;
    align: left;
    font-family: Times New Roman;
    font-size: 12;
    fill-color: #dae8fc;
}

/*===================================================================================================================*/

.service-container-app-example  {
    rounded: 1;
    white-space: wrap;
    html: 1;
    shadow: 1;
    vertical-align: top;
    font-size: 16;
    font-style: 1;
    arc-size: 3;
    stroke-color: #279863;
    stroke-width: 3;
    font-family: Times New Roman;
}

.service-topics-container-app-example {
    rounded: 1;
    white-space: wrap;
    html: 1;
    shadow: 0;
    vertical-align: top;
    font-size: 16;
    font-style: 1;
    arc-size: 1;
    stroke-color: #246c49;
    font-family: Times New Roman;
}

.service-container-app-example2 {
    rounded: 1;
    white-space: wrap;
    html: 1;
    shadow: 1;
    vertical-align: top;
    font-size: 16;
    font-style: 1;
    arc-size: 3;
    stroke-color: #0d3490;
    stroke-width: 3;
    font-family: Times New Roman;
    font-color: rgba(24, 43, 112, 0.87);
}

.service-topics-container-app-example2 {
    rounded: 1;
    white-space: wrap;
    html: 1;
    shadow: 0;
    vertical-align: top;
    font-size: 16;
    font-style: 1;
    arc-size: 1;
    stroke-color: #153b94;
    font-family: Times New Roman;
}

.service-container-db {
    shape: cylinder3;
    white-space: wrap;
    html: 1;
    bounded-lbl: 1;
    background-outline: 1;
    size: 15;
    font-size: 16;
    font-style: 1;
    fill-color: #d5bfa6;
    font-family: Times New Roman;
    stroke-color: #a59d80;
    stroke-width: 2;
}

.service-container-redis {
    shape: cylinder3;
    white-space: wrap;
    html: 1;
    bounded-lbl: 1;
    background-outline: 1;
    size: 15;
    font-size: 16;
    font-style: 1;
    fill-color: #d5bfa6;
    font-family: Times New Roman;
    stroke-color: #a59d80;
    stroke-width: 2;
}

.service-container-elasticsearch {
    shape: cylinder3;
    white-space: wrap;
    html: 1;
    bounded-lbl: 1;
    background-outline: 1;
    size: 15;
    font-size: 16;
    font-style: 1;
    fill-color: #d5bfa6;
    font-family: Times New Roman;
    stroke-color: #a59d80;
    stroke-width: 2;
}


.service-container-image-external {
  pointer-events: 1;
  shadow: 0;
  dashed: 0;
  html: 1;
  stroke-color: none;
  fill-color: #505050;
  label-position: center;
  vertical-label-position: bottom;
  vertical-align: top;
  outline-connect: 0;
  align: center;
  shape: "mxgraph.office.communications.push_notification_service";
  font-family: Times New Roman;
  font-size: 16;
}

.service-container-kafka {
    shape: "mxgraph.flowchart.direct_data";
    stroke-width: 2;
    html: 1;
    shadow: 1;
    white-space: wrap;
    font-family: Times New Roman;
    font-size: 16;
    fill-color: #d5c8a6;
    stroke-color: #a59d80;
    stroke-width: 2;
}

.service-container-kafka {
    shape: "mxgraph.flowchart.direct_data";
    stroke-width: 2;
    html: 1;
    shadow: 1;
    white-space: wrap;
    fill-color: #ece0e0;
    stroke-color: #866666;
    font-family: Times New Roman;
    font-size: 16;
}

.service-container-s3-external {
    stroke-color: #5b5858;
    shadow: 1;
    stroke-width: 1;
    rounded: 1;
    absolute-arc-size: 1;
    arc-size: 2;
    fill-color: #d2d7d7;
    font-family: Times New Roman;
    font-size: 16;
}

.service-container-app-storage {
    shape: "mxgraph.gcp2.doubleRect";
    stroke-color: #dddddd;
    shadow: 1;
    stroke-width: 1;
    rounded: 1;
    absolute-arc-size: 1;
    arc-size: 2;
    fill-color: #ece0e0;
    white-space: wrap;
    html: 1;
    bounded-lbl: 1;
    background-outline: 1;
    size: 15;
    font-size: 16;
    font-style: 1;
    font-family: Times New Roman;
}

.service-topic-rx {
    rounded: 0;
    white-space: wrap;
    html: 1;
    stroke-color: #b5c4c6;
    vertical-align: middle;
    align: right;
    font-family: Times New Roman;
    font-size: 12;
}

.service-topic-tx {
    rounded: 0;
    white-space: wrap;
    html: 1;
    stroke-color: #b5c4c6;
    vertical-align: middle;
    align: left;
    font-family: Times New Roman;
    font-size: 12;
}

.service-topic-disable-rx {
    rounded: 0;
    white-space: wrap;
    html: 1;
    stroke-color: #b5c4c6;
    fill-color: #b5c4c6;
    vertical-align: middle;
    align: right;
    font-family: Times New Roman;
    font-size: 12;
}

.service-topic-disable-tx {
    rounded: 0;
    white-space: wrap;
    html: 1;
    stroke-color: #b5c4c6;
    fill-color: #b5c4c6;
    vertical-align: middle;
    align: left;
    font-family: Times New Roman;
    font-size: 12;
}

.kafka-image {
    image: __;
    vertical-align: top;
    aspect: fixed;
    image-aspect: 0;
    html: 1;
    align: center;
    fill-color: none;
    stroke-color: none;
    image: "data:image/png,iVBORw0KGgoAAAANSUhEUgAAAgAAAAIACAYAAAD0eNT6AAAACXBIWXMAAAsTAAALEwEAmpwYAAAgAElEQVR42u2dddTXRfbHL0pJKIKUio2BsXa3smKLXaura+vatXbn2srq6k+xCzvWjrXFLiwslBAlBRFRf /cyn8cFhIcnvnFn5vU65330D8/ x+8 ydmXs / M3fuFQGIi1lU7VQ9VL1U+6 rOV92ielz1uupj1ReqwarhqqGqr1Sfqt5WPa26U3WZ6lDVlqrlVJ1UzRhiAACA6tNGtYxqb9W1qpcLhz5J9VsJ9YtqjOpd1R2qo1RrqTqqmmAGAACA8jKrqrtqL9W9qi / L4Ozrql+LEwQ7MThWtZKqJSYCAAAondNfQnWM6lXV+Co5 / JnpZwnXCJcWpwMtMB0AAED9seP1v6meV01w6vRnJDuV+EB1kmph4ZoAAACgVsxRWgLfFaphkTn9GWmc6m7V+kISIQAAwFRY9v6aqrsKh / lbgrJTgZdU2wvXAwAAgOOXVVT3qX5K1PFP70XBa6ptVc2ZAgAAkBuLqG7KyPFPLxB4TrVOEQgBAAAkzRyqk1UjMnX808oCoBtUCzA1AAAgRSzBr6fqPZz+dPWt6gDhWgAAABKiveoqie85XzWKCz2hWowpAwAAsbMGX / 31 llUY3F3VlOkDAACxYW / ej1b9gENvcJJgXwnNjQAAAKLAjvxvk3CkjTNvnKyDYQ+mFAAAeGdx1Vs47pLKqiJuytQCAACvWBOcr3HYZSspvI9QMwAAAJyxtWoUjrrsHQdPFZIDAQDACX+RdGv4e0wOvEBoLAQAAFVmL9WPOOaK1wuwjokUDQIAgKp9+eP8qxcEXCxcBwAAQIXZTjj293AdcLZqVqYjAABUgnVVo3HALjRJdRhTEgAAyo0VpfkGx+tKdg2zLVMTAADKRSfVuzhcl7L2yiszRQEAoNS0UN2Fo3WtD1WdmaoAAFBKThJq+8 eg+4 tgDQAAoNFsKDz3i+l54LFMWQAAaCx27 / 8 JjjUqWQvm1Zm6AADQUKzxzA041Cj1tmoOpjAAADSErSQ0oMGhxqmzmcIAAFBf5lJ9ihON / iqAp4EAAFAvLsaBJqHnhFcBAABQR5Ypvh5xoGm8CtidKQ0AADPDuss9kJgDtCp5b0p4I3+ZhJoGVj / /INWhquNUF6ruUL2sGiqhxn4qY/ C5qgNTGwAAaqNnAs7PGhU9pjpStYaEfIa6ts21lw+WPb+0 ai /VnaohEn8RpBOY2gAAMCOaqZ6J1MFNVL2o2ls1r6pJCcelnYQXEfdIvFcjFsR0YYoDAMD02FRCj/ mYHNuE4ivdvvRnLfP4WFCxqOoi1cgIg4DTmeIAADAt5jyfjsiZWaDyqIRnbk2qMF4Lqq6UuEok2ylAR6Y6AABMiX1BT4zEkX2l2knClUU1scBjNdWrEk+OwGFMdQAAmJLbJY6M / rtV8zgbu9YSqu5NiGAMPyp+LwAAwOTj7DHOHZcdtf /DwVd/ bacBW6qGRRAEbMGUBwAAKRyrZ4c1SrWNVOeuv75YEaWPnY /n/ ZGMJQAAlJGWqvcdO6vvVRtEeKLyjuMxHadahKkPAJA3a4rfp38jI3T+NczvPLA6kqkPAJA3Xpv+jFf1jnxsF1d97XR8X5Ly100AAACntBKfLX /tROLwRMZ4PfFZPdBeLPRgCQAA5Mlq4vP4/ xape+3 +GDjM6ThTEwAAIFNOduiUBqo6JzbOzcVnh0WrpMhrAACAzLCudy84c0g /S3hLnyKWdT9c/ L2woDQwAEBmdJXQNteTQ+pXBCapcqTDU4A /sxQAAPKil/ iqX2+JcksmPuZtVQOcBQB0CAQAyIzTnTmif2cy7ns4G / cnWQoAAHnxmPiq879UJuPeRnw9vfxGNTvLAQAgD1qovnDkhCxDPqds9OPEV+LlEiwJAIA8WEhCPXgvTmirzMbfegWMZfwBAKDSbCC+jqDbZTb+dtrxuCMbnMiSAADIg33EV9W /HDnAkQ1uYEkAAOTB2Y6cz66Z2sDu3X9yYoNnWRIAAHlwu/ jJ / l8sUxtYIuYnTuzwkaolywIAIH3+68 TxfCahTn6u9HNiBytRPCfLAgAgbSwB7W0njueRzG1xohM7WGvgriwNAIC0aSWh454Hx3N55rbYwYkdJkm+VzEAANlgR71DnDieIzO3xZriox+D /YaVWBoAAGkzl/ hpS7tb5rboUXx9ewgA1mRpAACkTWfVSCcBQO / MbdFNQileD7ZYn6UBAJA2luzlpQztZpnbootqohNbbMTSAABIPwAY7cTpbJG5LeZ2dALQk6UBAJA2nVQjnDid7TO3xUKOAoB1WRoAAGnTQfWtE6ezf+a2WF71i /hIAlydpQEAkDZtVV85CQBOz9wWGzuxgwUhy7A0AADSpplqgNAJ0AP7i59CQPOzNAAA0uc1J47HfscsGduhjxM72KuQTiwLAID0edCJ4/ leQk5Cjljg87wTO3ypasOyAABInyvFz93z2pnawAIfL68xXs / 8 JAYAIBuOc+J4TKdlaoNe4qMPgOlhlgQAQB5s4ygAeEU1a4Y2uNyRDS5iSQAA5MGy4qMJTU0v+h6Zjb+nlsymfVgSAAB50FH1nSMHlFs9gE3ERwGgGq3FkgAAyIMmqjccOaDPVLNnNPb3Ohp76wsxN0sCACAfrnPkhEy7ZzLuS6t+dDTu70qeORgAANmyj7MAwBxRqwy+ /m9wNu43sBQAAPLCar976UVf05Bmv8THfGVnX/ +mPVkKAAB50VL1uTNnNEjVJdHxbq56wtl4 / 6 RakqUAAJAfNzlzSKZrJc2qdPuKn8I /NfqwCEwAACAzdnIYANi1xHaJjfPiquEOx/ oKlgAAQJ7MK6ETnDfHNFS1WCJj3Fb1ksMxttOITVgCAAB5Ykftjzh0Tqb+qvaRj28zCVcaHsd3sKodSwAAIF / +5 tRBme5XtY44uDpV / N371+g6pj4AQN7MoxrpOAi4VeKrD2DO /xjx029hesf/ vZj6AABwu+MAwHSXxFMquKnqFNXPjsfzY0m / 6 BIAANSBjcRXc5rp6VlVN+fj2Eb17wjG8hSmPAAAGFYU6F3nTqumadB6TsdwEdUzEYzhD6ruTPmq06Q4LWperD+TJY3SlwEAKs7fI3BepvESkuvaOBk328R3kfB0MYbxu42pXhFmUy2gWkW1g+o4VR /VHaqnJLxyeUv1vuojCUWZLAh/ U8KzUXudY4W6LlQdptpKtbyESpkECQBQUuZSfROJEzNZO2O7uqhm1cClJLxU+CWSMbMiS2sy1csSBC6s6q26QELJZyuzXeq+D5a8ObIIGiwv5kTV+qqOxYkCAECDOSWiAKDGod1XfGVVKhCwjXYh1WWqMZGN12N8PZZsDnRWbam6UjVANU6q96JjhOoF1emq1SXep7MAUEXmVn0bmVOraWrzcLEhl+tqwO5qrZufFfYZHeEY2auEDZnijXL6XVW7qR5SjRKfNR7s6emXqqtUPcXPVRkAcApQ9q+hgaqLJSQLztnIsbCnciuoTlC9Lr6f9vH1Xx7sLn9j1Z2F049tPVji7LkSrqtmwZwAUBuWC / BVxI5uys1viIT72LMkJGLZF7wd33conHuLYoO3krjzqZZTbaE6XnWPhHvcSQmMhZ2QrM7UrheWbGfFnD4Uv9Uc66Mfi7VgeQotMS8AzIgDE9n0ppUl69kzuO9Vw4oAwbL3v5PQFGlSgn+z6Ra+ /urMwsUJ0rBE54KtAXttYO2pZ8fcADAt9lX8aqIbYG6yYGcRpvRMmV/ Ck7uRGc0Nqwi5j5AnAADTYHfoE3Cg0esfTOVasTwRy3sZkfEceU+1 tYTnjAAAk7Oe / 4 UDjVqvCU /CZoQ5u11VnzJPfn89YMWHlmNqAIDRkQ0yWtm7dBL/ ps+iqgclngJOlZTlwlg9AfIDAEA2lZBFzuYYl85k6v4Bq+VwsIS8COZI7bIyxWsxZQDyxq4CLmRDjErPC0f / 02 JJfg9Imq9bynmKZOWGZ2P6AORLW9XLbIhRaLhqCabsVGym+pq50WA9UQRQAJApi0k8He9ylV3V7MBU / R078reiTj8yNxotKy+8 AVMKIF+2 ZDN1XfnwbKErXA32vO8O4ci / 1 FcCBwhFpQCyxJzLEUL2tEdZe1hKvAasrPMLzImyPRc8R0IZbQDIDGso04eN0JUsP6M9U3My1vTmY+ZE2U+bbhISTQGyxL40b2MjdKEBxRcvhM6NXzEnKqZ7hXoBAFliLwMeYROsqqxb4eJMxcmsqhrMnKi4bA9ox /QDyA9LtHqMTbAqsi/ dZZmCk1ke519VPVR8EAAAQQAqs75QLcPUm8ySwrG /B/ VTtWI6AuTHHBKy0NkIy68PVT2YcpPppvqIOeFGVwsdBQGypFWxAfBEsHx6VUj4q8HunZ9jTriSrf0ThFoUAFnStNgAaB5UnozrDkyxyViFP16h+NRE1c5MUYA8seh / R6HjWqn0s+p8ocjPlBwnVPjzrBESEjMBIFMsQ / 1 tNsNG6TvVLkLp1Smx9tSUo / av91Qdma4A+WLV6a4pvmLZFOun /qo/ MYWmwpL+BjE3otHNEiqHAkCmzFJ8xQ5hQ6yTJqjOE95VT4vd+9 /L/ Iiub8AeTF0AsOx1687GK4EZ6x0JLVfJov4jBwn3 / rFeYy3K9AUAeyWwneoTNsapNEZ1ulBXfUZ0LxwJcyVOPahqxjQGAMNyA86UkC2c+5 MpO9ZekilRa9B4H040+voAuzOVAWBKFpaQJDg+ww3Ritj0FDL8Z8YOwrVRCvpa1ZnpDABTYvfdS6v6qsZl4PhfVG0pHInWBav29zHOMxldzJQGgBkFAkuoLlF9m9jGZ+ / WH1ZtJCGbHerGCQnNgV+Lk65PVU+qrpfw2sOKGh2hOkp1UjH / 7 ygCxaESrolSGYMfhKetADATuqgOVr0W8QZoG / 43 qksldO7jqL9+zKsaHrnDs5LYb0qo5LiZhJcwLaRurzxsvrRRLSXh /vwm1ZcS/ 3 XIXawFAKgLlgC2WvFVNFDieAZmiY33S3jtMCcmbDDnRxz42bXFqUXgV8pCONZwy / JGbpR4E2gtKFqV6Q0A9aG1ah0Jx6ZviZ+GQ7bhW3U6O7bduTi9gMaxQIQOzr7MXyoCv9YVOiE5sThlii0IeECoEAgADcTu0RdR7VpsJpXewIYW / 99 jVasLVftKzbmRObT3VdtKON6vNJ1UZ6hGRTRedq23MtMcABrLxlXYwHZk2MuGNZCJpWz0WAlH / R4KOC1WBKWx5AjcyFQHgBgDgG0Y9rJxSCQOzDpdervLtqelB0RyGjCmOMUDACAAgMlH6O+K /yQ/ 63 LnOcFzJdWACIKA05nyAEAAAMb64vsI+ +fCacVQxGlu1TPOAwDrCdKaaQ8ABABwk / h+vmYFe2J6w26VFB9yfpqyOdMeAAgA8saS / 7 x2 /LMv/ 8 MlzjbNlqD4qOMg4HamPgAQAOTNTo6 / Us+QuKvXWffNV5yO77dF8AcAQACQKfc4dVC3Shr9G6zz5iCnY7wd0x8ACADypL34bAD1bvHbUsGaUf3ocJxvZgkAAAFAnvQSf30erHPd6gmO9dkOAwBrctSGZQAABAD5cYlDp3RmomNtZavfdjbWvyQabAEAAQDUgjWFecuZQ /pIwhO6VLGrAG9tto9nKQAAAUBedJNQFtZT1v/ OiY+5 vWjwlnT5MEsBAAgAsF819bqqZQbjbuWCf3I07tbWmKqAAEAAkBGnOQsA / pLJuNspwAOOxt2uJJZlOQAAAUA+eHJCn0tIkssFywXw9PpiB5YDABAA5IF1 / /PUte7czMZ/ NtWHjsb /bJYEABAA5EEX1Tgnzsfq/ a+QoQ3OcRQAPMCSAAACgDxYXvy0 / 31 f0ij5W19WdWQDq7zYhGUBAAQA6bOlo6 / PKzK1gWXef+nEBkMk7foLAEAAAAWHOAoAcm5Ic68TG9h10KIsCwAgAEif88TPE7TuGdvhWPFThGlVlgUAEACkz3VOHI+1 yW3LGnKhTVgWAEAAkD73O3E6L0kojJMrS4qfqoC7siwAgAAgfZ524nTuytwOHVQjndjiQJYFABAApI19cb / gxOn8K3NbWEGmwU5scRhLAwAIANLG2gD3d+J0zsncFk1VnzixxbEsDQAgAEibZqo3nTidUwkAJhdC8mCLE1kaAEAAkL7TecOJ0zkDW7jpyXA8SwMACADSxtMVwAWcxkzuhOjBFkexNACAACBtLAnweSdOp2 /mtrBywN85scUhLA0AIABIn0edOJ1HM7fDfKqxTmyxN8sCAAgA0qefE6djXeiaZWyHVcRPR0DWFgAQAGTAFU6czmhVx4zt8BcndjCtx7IAAAKA9DnBidOxJjSrZWyHS5zY4WfVciwLACAASJ/ dHX15HpqpDZqoXnFigxGqeVkWAEAAkD7rFl / fHpzPg4UzzI1uEq5APNjAniK2YFkAQF1oqdqtChvVKRL6x7fBBI1iIQnHvh6cjz2DmytDG+zk6BTmRZYEAEwP+zrrquoloXSrfbENVP1Ypc1qooQ+8 k+pzlf1LhzarJiqzsyu+tqRA9ohQxvc62j8+7 IkAKCGOVQ9Vf9UvawaJX6OjKencRKelF2p2roIWGbBjLUGdS86st9Dktc1gL3 / H+1 o /OkECJC5Q5hbQnKYvREfIn7eJzcks9w21yclJJgtxunAdOnjLIBbIqOxP8bZetmQ5QCQH3b3urPqnuIr/ 7 cENUH1goRSp90w+e / 81 ZmdLstk3O36ZaCjcR /LugDIB/ satgpkdlw+NFGnPyNZkHOXanNVq8znwTKqSY5sM1K1YAbjfoCzNfE2J2QA6dNWQua+vT2emJnjn1Z2vfGR6lgJVx85YgHQF87scpWknQvQQfx0 / 6 vRNWyNAOnSRXWchGNHz4l81XyGdqmEO+jc3qPf7cwW9rJk1YTH+xyH839XtkiANB2 /PdvL7Zi/ MYlo16p6ZDRH9nFoh5ckzeuZlVQ / OBvr8aoF2CoB0qF94fiH4dQbFQh0z2CurC5+CgJNqdMSG2dL /Hvd4TjbdSD3/ wAJMFvxRfeF4MRLlZR2pqTZrc6uOrZQfel07O3LdONExtocbB+n43wa2yZA3FjBm /VVrwl3/ OWQOcm9VM0TmS /tJOQ8eE8E/ Ua1eALjvb / 4 em0xZQfA5dk+AeLFOnjZcfVPOOqyF0t5KoEN0xLs3opo3K26Y8yvNLaScKXkcWzfTiioBcgKO1a0J31DcM4VlSVxnSXhSWVMWPOm48RfElpdZKWou0S4RjcS38W1TmYbBYgPqyN+p9NjxVxkCV2rRDJfrBTyExL39dBrxbyPhd7Onf+4 Yl4AQCRY4pY1uvkGB+zmNOAECcmXXk+J9lANT2S8Pxb / VzA25gdKSGL0PJaPSH41LwCixY6cLxIq+HndTL19ndqR+c0JnhKNkFC4xuPTNeugeWUEY24nQduypQLEc4T7Mo7W / UuBjZycEm2i+izhsTYHa4mvnRyt0dVUb0YyfgOEPhgAUWBvoQfjYKOQHfseoWpapbkye3FKNCGT8bZ6F3+R6mayWxBygfjN9J+eDmZbBfBN08KZjBcca2xNhq6Wyr8SsDKzr2c63s+pelU4EJhTdahqUGTjZflDc7G9AvjFnmxdWmxuONU49bSqawXmSgvVUaoxBF7yomrnwjmXA7teWUR1ivitoDgz / YPtFcAvVqXNOrRR0S9+vSPl7Sdgzugx5sp0v3L /T0IuRAdpXLa7JRsuLKESpCV7/ hDxuHxVjAcAOKSz6lk28KRkvd9XKPE8Madkd980e5p5tvt3xZo6T7WThEqI9mLD8iVaFadtsxX /bk20FlWtJ6F87zUSqiaOS2Q8DmOLBfCJlfR9hU07SVk75jVLNE8s6exGoQhUY14QWF7NqOKk4Iviy9iCqbESEihTPFGxkspt2GYB/ DG /xFWfHdVf36rWasQcsWPsnqpPGEvUgKBnK7ZZAH/ Mg / PPRlaRb+0 GzJG2xRH2BMYQNUD3ic / CSQBZY3f+r7JBZSU7al6pHnNkOeYIaoQsB2IRtloAX9hTpefYoLKtGrjETOaHPe+zd+ajGS /UQFkuA0V/ AJxhWcf3sEFlrQ9lxv0DFlQ9JDzvQ43To0UgCQBOsAp /V7K5I9XzEp6j1TCLakeh9DNqvIZIqF8AAI44Wqjwh/ 6 nWySUsLXyrNbg5mfGBDVSE4tAEgAcsYXqRzYoJFPf015XXAkwHqgU+qc0rvohAJSYpSS8BWeDQgiVS1Yamla /AI6YQ/ UamxNCqIyyU6R52G4B / GCJXf9mc0KJyerjT2QcXJWbXobtFsAX1rSFxC6Ukuw0a2UJbYjpSVB9Wa2Inmy1AL5YSLj3R+noJ9UF8r+ni3a6dbrwqqWasvbEvdlqAXxhT7seZoNCiegzVS / 5 Y3a51bW4UKhrUQ1ZV8Od2GoB /HEgmyJKQHbEb7UKutQy15upzuEkoOJf/ jh /AKdH/ 8 PZpFDksuurvxZf+TPD / pvThJyASt35c+wP4BBru3knm9TvXynW+MaSxh5U9VVdojpXdUbx1WjHx9dI6I3womqgahSnJ1UvTvS4qns9577lBBxcHE0zjuUr8bsB2yyAT7aSPLP+7 cvvkyL4OUS1joRmN63rOX7WvKSrhCzzPVVXqd5STWDzr4jGqo5RtWzEGthaNZKxLLkGSCgoBgAOaav6IKMNycoaW0ObI1R / ktDlsBzYHfPCRUBwf3FCgEMovd5UrVIim1kAR3nj0ukR1dxssQB+OSKDjcgSvT5WnaparLjyqCRNio1wX9ULQjGaUj3vu1RCxcpSYomDD3Cd0+jGPueVMbgGgBJgJTiHJrwR2bXGs6ptHG1GFnysobpVQmU6HEb99YVqcylf8xi70jkB+zRI1hZ6W6GxD4B7Lkr4i / 8 Z1YZV+NqvD0urbhRyBepj1zsk5FtUgjVV7zPudU7CtBoiC7CtAvhnQUkz6WlA8QXSLBI72JfSqqonhTfptel71V5St+d9paS96mKhJfbMnl7uL6GQGABEwGWJbUL2fO8s+V / J19iwgGXP4ggVpzL1l6Wd5ixR5SDNTgP6C7kB016x9Ss+JgAgEqzoT0pZ6fbkbpVEbNNNQn0BTgPCHfxJ0rjnfaXEetb / XfU1tpn8+mJTCXUUACAizktkE7J3 / H2k9JngHk4DzNGMzdjBvCchWdIjnVXnS55POz+XUDK8NdsoQHx0klCZK4XSonYnPGvCtlq72HBze0J2hYS79xhO0vpkEghYdUx7MjwnWyhAvByWwGZk9+TrZWIvczL9M3H+gyRU5IvtCZndgZ9T /P7UXl28q9oPxw8QP3aXGvuzpk8lv9KiHVSPJez4zdHcrZo3cjuZk/ yb6lWJu9iTXT1ZHsoW4if /AgAayUYSd3KZPfHrnqnt7HXDAwk6/ xHFF2azhGxlTxWtrLA9H / xM4ng5YJUVX1YdWZxoUMgHICFsQd8R+Zd / 98 xtaEHAIwk5 / +cyOM1pI6HJlBXdeq9wtF6eV1oezdMSGiktJZWvsQAAFWK+YsHHeudPR7GAJce9GLnjt+d91pehVWa2s0I5PVT7qG5RfSShfkWlrllGFF / 5 djJhuRZWUZFnfAAZcGCkzmKMan3M94dg7pOIg7l1MOFk7Ivbjtv / rDpKdYPqJQkvP6xK56QGjK+VlR4mocOn5Y1cLqEJ1eoSXgBxtA+QGRblPxehs7ANcG /MN12s8FGMz88GZvjlX19aFl/ n1rnSykRvotpRQoLhAaqDi4DensHuJqHZlb2KsfbWCxWnRHzZA8BkbCMZH6Gz6MNGVit / a+BXYrXvntfFdAAAleHwCJ2 / lfdth+lqxYogXR+hbS /HdAAA5cfu/ J6S+JLEVsV0dcLudQdGZl / LX+AaAACgzMwj8WX /n4XZ6kVvCZ3ZYir8syJmAwAoLztG5vw/ lPSa+5 Qby5PoF5mdj8NsAADl5f8krqz / 7 TFZg1g8spOeZ4UETwCAstFC4qr9b06hGWZrMBdEZGt7wtgRkwEAlAcrneul9Ghdvv43wmSNwgoEfS / xPAfsickAAMrDLhF9Ef5XqEWe2ynAGZgLAKA8XBbR1+C2mKtkpz5jI7H7k5gLAKD02Pv /WMr/ 2 rvw1pisZMTyIuAb7A4AUHrsKd3wSBzBKZirpGws4a29d7tPVC2NuQAASsuyxQbr3Qn8qFoCc5WU2SSe6oA7Yi4AgNKydSQOwNqf8h689FwqVH0EAMiSEyNxAMdiqrJg7WFjuAa4G1MBAJSWWyLY / K1+ /QqYqizMrhoSwRx4hxMgAIDS8mIEm/ / nqpaYqmzcG8EcGKpqj6kAAEqDFdSJIQnsLkxVVg6PYA5YpcqFMBUAQGmwHvExPAE8AlOVlTUlFFnyPg9WwVQAAKWhh2qCUAs+dzpLHFUBt8ZUAAClYbUINn0LUObHVGWlucTRDfIATAUAUBo2jmDTH6xqg6nKzqMRzIUTMBMAQGnYKYJN / zWh+18 luDKCuXAhZgIAKA37RbDpP4KZKkIMBaH6YiYAgNJwSASb /s2YqSLsH8FcuB0zAQCUhqMi2PQvx0wVYecI5sK9mAkAoDQcF8GmfwFmqgjbRDAXHsZMAACl4aQINv1zMFNF2DyCufA4ZgIAKA3HR7Dp/ xMzVYTeEcyF / 2 AmAIDScHQEm / 5 lmKki7BjBXLgPMwEAlIZDI9j0b8BMFWGfCObCnZgJAKA0HBDBpv8QZqoIMSSEEgwCAJSIXSLY9F9WzYKpys5lEcyFSzATAEBp2DSCTf9LVStMVXYejGAunISZAABKw5oRbPrjVV0xVVmxXgtvRTAXDsJUAAClYWnVT843 / V9Va2OqsjKXamQEAcAOmAoAoDTMrfo+go1 /f0xVVlZU/ RLBPFgDUwEAlIYWqi8i2PhvwlRlJYaukBNVi2AqAIDS8WoEm / 8 AVTNMVTZuiWAODFd1xFQAAKXjrgg2 / wmqHpiqLMym+iySILAp5gIAKB1nRrD5mw7EVGVhZdUkoSAUAEB27BRJAGCd4JpgrpJzeiT2pykUAECmX4BjVPNjrpJieRXvRhIA7IG5AABKSyxvwE2HYK6Sst3PJIYAAB0CSURBVLrq5wjsbgHqCpgLAKC0zKrqH0kA8IaqOSYrGVdHYvdvVXNgLgCAfB2BfQmuj7lKghWB+i4Su78g5H8AAJSFvSJxBKZ7he6ApeAfEdn8YswFAFAelpE47oJragKshMkaRQcJXRZjCQC2wmQAAOXB2u0OjMgh3C0cCTeGoyOy9Q+qeTAZAED5uC0ip2AdDNfDZA3C7v4HR2RrS1CdFbMBAJSPv0XkFEwvSmhmBPXjisjsfA4mAwAoLwurfozIMfwqlAeuL / buf3xkNl4bswEAlBc7Zn0lsq9De8ZGi9i60Vri6Pw4pQapZsd0AADl5+TIHITpUeEqYGZYwuRZEdr2JkwHAFAZrNzqxMichB0T / wPT1cpGEtf1To02x3QAAJXB+q2 /GaGjsHvtjTHfdFlIwlF6bDb9RtUO8wEAVI7jInQWNQ5jCcw3FVY/ / / lI7Xkb5psh1sVxTlUP1YaqXVRHSLjm6aPqq7pVdXvxz+sllPu2ioonqPZVba1aTUKHTcsP4aklAMjiElem+JR6R9UFE06mpeqOSO1oGqU6SGj+1 KI4xbFqiKer7lO9V4yP1cP4tRFj /Eux1oepXi4Ch0NV66o6ERQA5IfV2X8sYsfxnIRSt7l/ If4rYhtOmd9hvR+6 Zbb+FlDtqrpB9b6E8teVHvfRqpdU / 1 T1ZE0B5MP2jfyyqLaeVLXP2PlfHLn9pvccsLekW / 7 ZnP5SEpJZzen+4 DAQs1OC+1 V7csoGkDb29vqLyJ3GfyUcY+aEHftfmZjzr5G9TrEqhqkkBlowYz0ODi6c /oSIbDFCwlWEXUu0YbsESI8zEnAab6i6Z2Ivc4x3Jur8p9RbqlUjtpO9tLGKjHa8P1Liv6IZWOwVCwsNugCSwe4hRyfgML6S9BsHWZLYC4k7/ mk7BB4rcRWAsmTGzVRPSzytt+ujsRKSCFckEABIg2sSchiHFF9fqWH1D77OyPlP+fX5ePHl6RnLydiyCNB+ycAudpXRT7U8gQBA3CwrcVaQm9GTp7slnd7ydvd6TkL2aagsOc0y5mdxZh9zftbI6FnVpAztYvPyFsnnCg4gOWwTuz2xjWlQ4TCaRmyTNVX9M3f8U8qO1O34eS4nNrIGVTdKeKefu20sz+E0CYWLACAylpN4CwPVdhrwn+Jviwk7vejDV / 8 M9aFq /Srax15hWFb/ 99 jiD / pIQm+HWdhSAeL64rwp0U1pnIRnc96PKa0Iy / GqoTiSOvWFsIp5raoQKFvZ5V+xQa0nNVaWmDoCABFhNfbHJLwx2WuHq1R / cvaFMq+E2u2DBOdR3wRBqwi5ZAVs1Kz46h / FuNdZn0lIXiVJECASzpc8EpcelNAoZY4qHiOvpbqOo+RGy8Zvr8JJl4O5JRTE+YWxbtBrgXOqcFIDAA2gs+Tz3OzX4m / 9 v+JLpWOZx9a6sVlnNuvm9j4OpeT5HpbI2rXENjN7fcL4Nlr2lLMb2yuAf /aXPO84v1M9qjpRtYGEFqoN/ aq0DmtdCgditQnszfQXOP2y6 /MSHTvbFdHekvaVWDWuBNZgewXwjVVee1a4Xx5bbFrPSCjperaEfuzWKGVn1baqHVV/ lXA / bM+grB+7 dVm0TPVROPyqHTtfIKHXRUNoVpzS /MxYluW54A5CXgCAa6zU5w9sWChivSahUl19sMJL1wpZ/ uUO0I4QngoCuOZsNisUuUYXVzDN6zDf7cTgfsasIrKqiacUV2UA4JC2xVcUGxaK /TrHXn3MX8tcty6LDzNWFU/ ctFdHTdlqAXyyMlcBKBHZi49tp3P0bE9BH2d8qhYEnMtJAIBfjhPuRFEamqj6l / yvZr09zbyXcal6EHCSkBMA4BJ7FfAQGxVKSO+q1pXQXIjx8FE+ +GC2WgCfWLnaz9moUGKnAZxs+arQuTVbLYBPNpTQWIfNCiFUDo1QrcJWC+CTgyQ84WGzQtN+vTEOqFQthbuy1QL4w7J1+7 BJoSn0qoQ2uQ9zpI5KJHu22ZLtFsAfljn9HzYpJCEvZMFiXliy6OFC / XxUmtoNJ7PVAvhkruLLj80q7za807uvtTLSrzM+qJGyfKN12GoBfLKA0Co1V1mjpE1rmRtWVvcS1U+MFWqEPlB1YKsF8MlSqq / YqLJL+NuxDnPDOr5tpvqSMUON0KVC90AAtyyr+oaNKgvZF / 1 e9Zwfc6v6Ca2RUcO7B3IVAOCYlVSD2ayS / / Lfu4FfY81U+0 noB89YovrqDQnJxwDglOU57k1W41V7lOjK6AXhuSCqvw5liwXwzRJCYmCKCX87l3COtFKdLRQPamj54qESkuMskLLnuNbM6AEJHQ37qz6VUFEvtSBrcHGdBACOWag4smPDjl / DVX8u0zyx0tIfM8a1ylpxP686S7WFalEJnQxr65zXXNW5OJHbXXWN6n0JDXdiH4+L2V4B / NNR6CCYQpGfFcs8TzqpbhTKS0+ba /GY6q8SmnDNWoJxtiJNy0gorvOexJuQOVq1MNsrgH/ sqPcqIfs7Rr1QnORUglmLL9VvMx /z7yQ8eesxky/ 8 xmIldjeSULo5xjoN / 2 JrBYiDpqpDiqNMHKt / WbB2vYRCPpXGjreflPwSBK108kXF134lsSBjDdWjkZ3AjOEUACAu1hdeCMRQevXIImirFvZ1enwmAaMFW4+olnQQpG+nGhjR2J3HlgoQF / MLHeO8ypLx1nY0V+zL9J2Ex9vqIewroT6CFywf47pITgOGSMgzAoCIsGSkY4UrAU9foXdIyBr3RnvVlZJG9vqUekv1J6fr064FrNLj6AjG8UC2U4A4sS88ngpWV8MkFPdp6niemEOy4+lUSk3be / 0 YmtuspRrkfCz7O5+7 AFALbVVnSKgyh0Ou7Ff /fVK5LP9SMH/ hPGO9PrLfbc8dW0U05lbUy3OdBjsZWo1tFCBerK78qqrnhNyASsgSMXcRX3fPdcWujw6WOI6np5W9rGgZ4Zgv4jwIuJwtFCB+bHO0pCi6Cpavlr9tlp0SmCtW4a5 /RGN/ T2Rf / tOylON1acWq2rB9AqSB1fq+RMJbXxx342UZ3VaRcQVJq6e6XR9dIP4L2VigMmcC472ehJ4QHq9WNmDbBEgLq4Z2q8RZqczLxviSqpeUppSsRyyg2aT4CvSaZLl4QuP9d /FZ1ZNrAIAEsQzwlSU8U6NzXN0T/ F5W9ZZwZ54D64u / / BE7edk1sXG2vJF+Duf8+xnNdYDssC89u /e9RbgaqK1N7DOqrSR0g8uJoxza4/ ZET166SWjL623uL8U2CZA+VgPcesl /jdP/ vS76zarVJd2j / pnxmDObWAvlBRIe730cnrgcxNYIkA9WJc46yD2lmiD5HfNbS9djEnc0dcES7IY4s8+xiY+5 vdh5xeGJCwBkhn312vHfWaoPJL2ysVMm9dmpxzUSMrJnw / STWcXZ1+gXRXCaOluKr4TATyW / qy8AmAJLBFpJQqew9xI4GZhUOJRrVZtKdVr0eucgZzY7JpNxN2f7qqNxtyThRVkOAGBYjXB7SmhPl6wD4WDx+YRpWn2vel51koQyp60wZa1c78h236m6ZjT2uztbO5uzHABgerQrTgeslOxdqgESquNV8 / jYspftDfujqpNVPSV05WuCueqEXf+85 sgB9c1s /NuLrxcBJ7IkAKAu2HWBVR1cV/ VmFb4Ut1d1V7XGFA3GEgC / FT+JmT0ztME1jgKAO1gSAFBf7pfKJ4pRv7zxWJW9SU6cz1eZ2rSXowDgdZYEABAA5MGfHTmfmzO1QQdHpzCDhBM1ACAAyIK9HQUAe2Zshyec2MDaRC / IsgAAAoD0OVX8PNdcJmM7nCF+8 jBWYlkAAAFA+lztxPHYEXi7jO2wtaOTmD+zLACAACB97hE / yWezZmyH5cRPBc4dWRYAQACQPo87cToPZG6HLhLu3z3YYj+WBQAQAKTNLKoXnTidqzO3hfWlGObEFoeyNACAACBt7Mi9vxOnc17mtmimGujEFkezNACAACBtrNdDpSs4zkinY4vJnTg92OIElgYAEAAQABAAEAAAABAAJIZdAbwiXAF4gCsAACAAIACoGJYE+LyQBOgBkgABgACAAKCiPCk8A / QAzwABgACAAKCi3C0UAvKAp0JAO7AsAIAAIH3+LZQC9oCnUsA9WRYAQACQPmc6cTo0A6IZEAAQABAAVJB9HX150g64+hojtAMGAAKALOjlKAC4OVMbdJBwBeLBBoNUrVkWAEAAkD5LSjj29eB8vsrUpp6CsNdZEgBAAJAHc6lGip / 75 xwT0K5xFADcwZIAAAKAPLCnd17KAZv6Zjb+7 VWDHY0 / ZYABgAAgI2515IC+U3XNaOx3czT2ps1ZDgBAAJAPRzlzQsdmMu7NVa86GvcfVYuyHACAACAf1nIWAJht22cw7luInwRM06dFUAIAQACQCR0lHL1zClA5WoqfTow1up2lAAAEAPnhpStgjYarFkh4vPdR / epszA9kGQAAAUB+nOLMGZlukzQbBHUTX5n / pomqpVgGAEAAkB+rSajH78kp2e /ZNbFxbqbq5zDYel/ VgmUAAAQA+dFK9aVDxzRMtXhC43yQ+Er8q9HlLAEAIADIl6sdOiZTf9WcCYzveqqxDsfXchE2YPoDAAFAvvzZ6dep6Z7ilCJW7H79G6dj+xlrCQAIAPKmTTGuvznV9RKez8XGIqqPHY8rx / 8 AQAAAcqFjR2VH1TdGdhJg+QsfOR7TnyUkgAIAEABkzp8kPAn7zbEeUHWIYCzXVA1yPpaWX9GUaQ8ABABg7+6 fce60TG+rlnU6hrOo9lKNimAcKf4DAAQA8Dvbi78qddPTSNW+Et7We6GT6jrxV1NhehoioQw0AAABAEzG7tgHRODATPZq4T+qJas8ZnaMvq1qYCTjZjqXqQ4ABAAwLQdH5MhMY1QXqeat8DjZcf8aqkcj+eqfcrwWZpoDQGO / fGzTrXQzmaESEtYoX1oe2qk+jywIqGkidIlqicI5lwt7jriR6mHVTxGOUx+mOADUlyaquVSbqi5Tvab6QapzZzxB9YnqJtUuqvkkzeYxnALUX+OLr /LdVfOUKBiwYHMZ1Umq98Rv0aSZaRRf/ wBQH7qq / iLhqP878ZkkZoHIf1WHqrqX+QswB+YoAqzfItfYYl6codpctWhxwlHb / Giu6qxaTrWbhDLJ1jDn5wTG42KmNgDMjNlUvVR3qEZE+AX4tGqP4sQCGsauEseLgPq2vh1SOHS7urJj / HtV9xWnBq+qPlV9H /FX/ oxkbYjnZloDQG1f+0 dJqGCWwgZo+QJ2XbEUpwL1xr6En5G0nGDOOoQpDQDTY5HCUX6f6Ob3o+puCVnb5ArUndWLscOBxq3XVa2ZzgAwJZYQdJWEp0E5bIR2BPyQhFKtnAjUjYtxoFHLEmbXYRoDQA1WtexsCRXVctwU7fnW7VL9IjIxMKf4bmqDatelEl7wAEDm2L3unuK / UUkli6JYINSeqVErGxdfksyZuPSBxNE8CQDKjDVQsaSu1DK7SyF78tZbyA+YEfYF+U /mSVQap1qbqQuQN1bf/ UTJ556 /Mf3Rred8F6bMdGkr4Zkcc8W/ LMg /mSkLkDdWFvW/ bIj1kpXB3Vi4N53RfBrGHHGvByWULAaADLEMd6ve9x2bYYMzpy03YDam0h /oLeQDeJYlbHZlmgLkiXXKs6dbKZQurfYxqlWHm5cpNRV2MnKSkEviUVa1c2WmKECeWOT/ BBthSTWQTfUPNFNdw9xwV+xqa6YmQJ5Yt7IP2AjL9mW1DVNsKqyy3H+YG24SWA9mSgLkyVoSmn2wGZa3ydD+QnLglFj9BJJMqyvr2WFXMlS2BMiQTSW+jn0xlxI+ls12KqyqJM8Dq+f8zxHqVwBkifU4531 /ZTVJQl0FgoD/ YW1mX2FuVNz5W3Gmpkw /AJw/ Igio9knAs8yNis2 /U/ jyB8iT9VSj2Airnnh1mJATMCWWE3A / c6PsNSqOIPgEyJMVhGpsnjbj3ZiSU2Glp6+UcETNHCmtLOjfgaATIE / mU33KRuhKY1UbMDWnwu6lj5bwNp05Uhp9plqTqQWQJ3OonmcjdCl7gtmDKfoHeqm+YX40Wo8XwT8AZIgl+1 zLRuhar6naMVX /QHfVU0Lp4IZeMZ0r4VoFADLl78KdagyydsI8y/ oj1lTJitWMY47QlRIA6o7VoR / LhhjN2+x9mbIzxCpWvsE8menrkhtUXZguAHljR8pvsylGpZES+jLA9GlTnAYQ1E6 /la/ V9+CJH0Dm2NHfZWyKUeoF4d52ZiylultoW10TNJ6mmpNpAQDGhhKSgHCoceofTOGZYsmtm0joJZBjjos9k7xFQqIkAMBk7MnfezjRqDW6+MqFmdNCQoGbtySP1wIW2PeTUNSLJD8AmIpTcKBJ6GHhVUB9sNcC20hoMTwpwflgeQ /Xq1bE8QPA9FhcqPOfUtOW7ZjS9caCpnVUtyawFuxEY6DqDNUiOH4AmBGW/ XtbYk7wB9UXxVed / W2Xq85Wnao6U3WxhPfzT0jIgh4laR0DD1C1ZWo3CHOW80poumR5AjHlxIxQ3aPqLeHlAwBArayh+kniT2yyqnhWwWxT1YKq5nX8+y0prGvx9XechApyKZyGHMLUbjQ2N5aW0Ib5FfFXVMiCVmvS9YCEBlFdMRkA1BU79nxU4j3mfFd1jIQrjFL1KbcvwHlUe6qeUU2MdHwGqeZiipf0pMwCy78Up0cfVCFw /rUITl9U/ VPVU0I7ZACAerOuxPcm2n7vE8WXfssKfAFa8lRfibOk7NFM8bJhrwgWknDcbkWGrL7A+4 WDniCNu1L6pTjVGlacPFiVvsNV66k6CUV7AKAEXzQPRfbF / 7 JqI6l8lrudCthRcL / ITgS+FAq9VBK7drLntN2L4HpnCVcxlozXR0JzrZtUd0jITTHHfo3qEtUJqv0kvEhYvQguWpfwZAsA4HfsyzaWu / /hEpoTtazymFnQZEVkBkQUBOzPVAcAgCm5LpKv/ qfEX9Uyu3e9UuK4PnnbQeAEAABO6CahFrhnx2VH7ZbVP5vTMbTTgL+K /xcDdp/ ciykPAADG4eL /Hf/ eEkeykz2jHOR8PPsx5QEAwBKVPPdHH6PaOrIxXVL1qeMxtR4B8zH1AQDyZmXxW / Pcvvy3inRcrRbB546DgIOZ+gAAeXOeUwdlLxJ2j3xsl1d963R8rSwyT8oAADLFssE /FJ/ Z / taNMIWmJZtLKOLibYzHCz3gAQCyxd7+ezz+v19CZbVUOEl8Nhc6gCUAAJAnx4vPmvXdEjxpedLhWD /EEgAAyA97UvdfZw7JTiN2TnS87WWAtxoBlp/ QgaUAAJAXHcVf8R / 7 Im2a8JifIv5yLdZjKQAA5EVP8XUvbYlyyyc+5 taI5zNnQcDJLAUAgLw41Zkjsp7qTTIY9wOcjfvjLAUAgLx4UHy9+V8+k3Fvp / rC0dhbi+DWLAcAgDywJ3aejqIfkzjq / JeK08RXk6XFWRIAAHmwoIQyu16c0PaZjf+iqnGOxn9LlgQAQB6s5cj5DJX8nqJZrsMzjmxwDEsCACAP9nbkfO7M1AaHOrJBX5YEAEAenOPI+eyRqQ2WlnD / 7 qUxEAAAZMDNThzPBFWPTG1g5YG9JGJ+IGn1XgAAgBng5f75y8wdz73ipyTwnCwLAIC0sQS0d8RPEZomGdvCSzEmq8PQlaUBAJA2s6k+deJ4 / pW5LXYSP02YFmVpAACkjVWiG+zE8RyduS3WFh / 9 GOw3rMjSAABIG+sC+J2TAGD3zG2xZPH17SEAWIulAQCQNp3FTxvg3pnbYj7Vz05ssT5LAwAgbSzZa6wTp7NZ5rboIn5qAWzE0gAASD8AGO3E6WyRuS3mdnQC0JOlAQCQNp1U3ztxOttlbosFHQUA67A0AADSxhrvDHPidPbN3BbLqX4RH0mAq7E0AADSZnbVICcBwKmZ22IjJ3awIGRZlgYAQNo0U33oxPHclLkt9hE /hYAWYGkAAKRPfyeO5xXVLBnb4TIndhgjoT4EAAAkziNOHM9wCZUJc8QCHy9Nmb6WcDUEAACJ82/ xc / e8RqY2sO57XioyvqmalWUBAJA+xzpxPKYTMrXBBuLjBYDpIZYEAEAe7OAoAHhB8swDuMCRDS5jSQAA5MEKjr4+x0t+rWhbqj5yFAAcwJIAAMgDTx0BTcdnNv52 /D/ J0fjTCRAAIBOaqN525ICsLkGrjMb / Nkdjb42hurEkAADy4UZHTsi0QybjvpjqB0fjPkBCcSgAAMiEfZ0FAK+pWmQw7lc5G /cbWQoAAHmxvPjpRFfTkGb3xMd8aWdf/ zRkAgDIkNbipylQjT6T0K0wRZqqHnA23hOFJkAAAFniKRmtRpdLSFJMjV3Ez9PLGn2sas4yAADIj90cBgATVJskNs4LqgY7HOurWQIAAHliLWDHOXRMX6rmT2SM7Xnj4w7H2HIutmIJAADkiZXgfcqhczJZp7zYO9RZg52LnI7vMFV7lgAAQL7s79RBmW6WeJ8GWh7DEeKr4t+0 YwsAABlj1wBjnTopO6a+KsIgwJz /fqqfHI/ rFkx9AIC8MWd1n+NTAHNW10o8pYLtWuVgx87f9LmqLVMfAAA2Lxztb471oIQmRp6xLn /nit9j/ xqdzZQHAADDigJ94txpmd6T0MrYI11V90cwhj+qejDlAQCghmMicF6m0arDxE9egB35bybhWD2G8bPrniZMdwAAqKGL6ttInJhdV9gzwVWq7MysVkFfCSV1Yxg36 / 2 wHlMdAACm5cJIHNmUx9nmgJeocCBgwdIpquGRjdfzEnoSAAAATIU9CRwRmVMzWYe9W1XrSPlq21uAsbjqfNXQCMfI+hBsxhQHAIAZcX6Ezq1Gln3 /lupU1UoSsvIbQzPVIqp9JFRMHBfx2DxT/ D0AAADTZV6JJxdgZvfdn6pul5A02FO1qGouCW / gWxanBfZPewXRvjgBWatw+NYo520J1wwpjEVPpjYAAMyMoxNwejM6IRil+kr1kep91YcSMvi /l5DM92uCf/ fdEvoSAAAA1Eqbwjn+hqLXGOHdPwAA1IMtJRwd40Tj1llMZQAAqA9W4OZmHGjUssqJszOVAQCgvnRTDcGRRilrRkTiHwAANJhdxH9zG /RHXSKU/ AUAgEZg2ePX4VCj0huqOZi6AADQWDqoPsCxRtMsaUWmLAAAlIqVVSNxsO7rHOzFVAUAgFKzu /A00LOukPB6AwAAoKSYczlP0qyWF7sel1DACQAAoCy0UN2Gw3WldyW0KAYAACgrVlzmGRyvC1lfg8WZkgAAUCk6qV7GAVdVQ4WMfwAAqALzqN7EEVdFw1VrMgUBAKBazKvqj0OuqIap1mbqAQBAtemseh7HXBF9rVqJKQcAAF5or7ofB11WDVAtxVQDAABvtJJQjOYXnHXJ9ayE6xYAAACXNFUdqRqH0y6JLJiyZkyzM7UAACAGrBf9IBx4o/ SD6pAiqAIAAIiGBVWPCqWDG6IPhUx / AACImJaqo1Vjcep1kjVb6qvqyNQBAIAUsKdrL3AaUKs+V20ndPQDAIDEmE11hOp7nP1UmqC6SkI9BQAAgGSx3AA75v5JyPC3531rqJowLQAAIAfsmNtq2Vsf+58 zc / x2DfK+amdVc6YCAADkiD1x61l8CaceCJjjt+z+vVWtMT0AAEAIBNZT3asaL+kd9b+q2lXVBlMDAAD8EbsLX1p1vuqryB3 /KNVtqvWFo34AAIA6M4dqe9V9qpGROP0fJXRG/ LuE2v0k9wEAADTiVKCL6q+qfqpvxFfDIQtOnpLwxHEx1ayYDAAAoPS0Va2rOlVCqeHBFQ4IRqheUV2s2lLVlS99AACAytNOtayEZ3Xnqv6jersIDCZK /asP2n8/ qfiyt6z9pyW0Od5PwtPFzjh8AAAAnzSTkEMwv2pF1YYS8gnsCZ7dz1vL4uMl9Cmwjnv7qnZRbaxaVdVd1UFCLwMAgKz4f6y6PKHgOyo4AAAAAElFTkSuQmCC";
}