    <ac:structured-macro ac:name="drawio" ac:schema-version="1" >
        <ac:parameter ac:name="diagramName">{{diagram_name}}_diagram</ac:parameter>
        <ac:parameter ac:name="simpleViewer">false</ac:parameter>
        <ac:parameter ac:name="width">100%</ac:parameter>
        <ac:parameter ac:name="links">blank</ac:parameter>
        <ac:parameter ac:name="tbstyle">hidden</ac:parameter>
        <ac:parameter ac:name="lbox">true</ac:parameter>
        <ac:parameter ac:name="border">false</ac:parameter>
    </ac:structured-macro>