<p>
<p class="auto-cursor-target"><br/></p>
<ac:structured-macro ac:macro-id="4ac2a3ce-cf25-409c-8036-688a71535ec1" ac:name="info" ac:schema-version="1">
    <ac:rich-text-body>
        <p><span>On this page you can find ....</span></p></ac:rich-text-body>
</ac:structured-macro>
<p class="auto-cursor-target"><br/></p>
<ac:structured-macro ac:name="toc" ac:schema-version="1"
                     ac:macro-id="c9ecf5a7-c287-4c2e-947c-9cbc5dcf2e9e">
    <ac:parameter ac:name="maxLevel">4</ac:parameter>
</ac:structured-macro>
<h2>Network Communication</h2>
{{include_page_network_links}}
</p>