<ac:structured-macro ac:name="drawio" data-layout="default"
                     ac:local-id="d695a22d-60ba-46bb-9c19-8ab8f86c071e"
                     ac:macro-id="39943859-2a73-49bb-a485-5205157ca749">
    <ac:parameter ac:name="zoom">1</ac:parameter>
    <ac:parameter ac:name="simple">0</ac:parameter>
    <ac:parameter ac:name="inComment">0</ac:parameter>
    <ac:parameter ac:name="lbox">1</ac:parameter>
    <ac:parameter ac:name="diagramDisplayName">{{service_name}}_network_diagram</ac:parameter>
    <ac:parameter ac:name="diagramName">{{service_name}}_network_diagram</ac:parameter>
    <ac:parameter ac:name="pCenter">0</ac:parameter>
    <ac:parameter ac:name="width">100%</ac:parameter>
    <ac:parameter ac:name="links">blank</ac:parameter>
    <ac:parameter ac:name="tbstyle">hidden</ac:parameter>
    <ac:parameter ac:name="height">100%</ac:parameter>
    <ac:parameter ac:name="pageId">409993544</ac:parameter>
    <ac:parameter ac:name="custContentId">409961803</ac:parameter>
</ac:structured-macro>